* {
    font-family:Helvetica, sans-serif, bold;
}

html {
    background-color: grey;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    background-color: white;
    padding: 50px;

    @media (max-width: 650px){
        padding: 10px;
    }
}

.navbar {
    height: 38px;
    text-align: right;
    border-bottom: 2px dashed black;

    @media (max-width: 650px){
        border-bottom: none;
        margin-bottom: 150px;
    }

}

.navbar__link {
    display: inline-block;
    line-height: 38px;
    height: 40px;
    box-sizing: border-box;
    padding: 0 20px;
    cursor: pointer;

    @media (max-width: 650px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.navbar__link:hover {
    border-bottom: 2px solid black;
    font-weight: bold;
}

h1 {
    font-weight: lighter;
}

.aboutme {
    max-width: 1280px;
    align-items: top;
    display: flex;

    @media (max-width: 650px){
        flex-direction: column;
        align-items: center;
    }
}

h2 {
    display: block;
    font-size: 48px;
    font-weight: bold;
    height: 45px;
    box-sizing: border-box;
    border-bottom: 2px solid black;

    @media (max-width: 650px){
    display: none;
    }
}

img {
    display: block;
    height: 300px;
    width: 250px;
    margin-right: 50px;

    @media (max-width: 650px){
        display: none;
    }
}

.text-boxed {
    background-color: black;
    display: inline-block;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    position: relative;

    &-in {
        color: white;
    }
}

.text-boxed::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    background-color: black;
    border-left: 30px solid black;
    border-bottom: 50px solid white;
    right: -30px;
    top: 0;
}


.quote-box{
    background-color: grey;
    display: inline-block;
    padding: 10px;

    &-text {
        font-size: 12px;
    }

    &-sign {
        float: right;
    }
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid black;
}

.skills-box {
    max-width: 1280px;
    display: flex;
    flex-direction: row;

    @media (max-width: 650px) {
        flex-direction: column;
    }
}

.skills {
    width: 45%;
    margin-right: 100px;

    @media (max-width: 650px) {
        width: 100%;
        margin-right: 0px;
    }
}

$baseLineHeight: 1;
$chartGap: 10px;
$chartBarHeight: 30px;
$chartBarGap: 10px;

  
.chart__horiz {
    margin-left: 0;
    padding-left: 0;
  }

.chart__bar {
    list-style-type: none;
    $border-rad: 4px;
    height: $chartBarHeight;
    margin-bottom: $chartBarGap;
    background: gray;
}

.chart__label {
    padding-left: 10px;
    line-height: 30px;
    color:black;
    font-style: italic;
}

.responsobilities {
    width: 45%;
}

.resp-list-line::marker {
    font-size: 2em;
}

.round-photo-block {
    max-width: 1280px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    
    &-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    }
}

.container-foot {
    max-width: 1280px;
    background-color: black;
    display: flex;
    flex-direction: row;

    @media (max-width: 650px) {
        flex-direction: column;
        align-items: center;
    }
}

.contact-row {
    max-width: 33.3%;
    padding: 50px;

    ul {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }

    li {
        color: white;
    }
    
}

a {
    color: white;
}

.text-wh {
    color: white;
}

.circle {
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: 5px 20px;
    font-size: 15px;
    padding: 15px;
    display: flex;
    height: 180px;
    width: 180px;
    box-shadow: inset 0px 0px 0px 10px black;
    border: 10px solid white;

    @media (max-width: 650px) {
        display: none;
    }
}
    